:root {
    --background: #111111;
    --text-colour: #ffffff;

    --regular-font: 'Montserrat', Arial, Helvetica, sans-serif;
    --title-font: 'Dorsa', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text-colour);
    display: grid;
    grid-template: 1fr / calc(100vw - 184px) 184px;
    grid-template-areas: "sections navbar";
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

a {
	font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--regular-font);
}

p {
    font-family: var(--regular-font);
}

h1, h2, h3 {
    font-family: var(--title-font);
    letter-spacing: 4px;
}

/* NAVBAR */

.navbar {
    grid-area: navbar;
    text-align: right;
}

.nav-container {
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    padding-right: 28px;
}

.nav-item {
    font-weight: 100;
    font-size: 16px;
    font-size: clamp(16px, calc(2.5vw), 24px);
    text-transform: uppercase;
    padding: 1px;
}

.nav-item.selected {
    font-family: var(--title-font);
    font-size: 48px;
    font-size: clamp(48px, calc(7.5vw), 72px);
    margin-top: -6px;
    margin-bottom: -6px;
}

.nav-link {
    max-width: max-content;
    display: inline-block;
}

.nav-link::after {
    content: "";
    position: relative;
    display: block;
    width: 200%;
    height: 1px;
    bottom: 4px;
    right: 6px;
    background-color: var(--text-colour);
    opacity: 50%;
    transform: scaleX(0);
    transform-origin: bottom right;
    -webkit-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
}

.selected.nav-link::after {
    height: 1px;
    bottom: 10px;
    right: 12px;
    opacity: 100%;
    transform: scaleX(1);
    -webkit-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

.nav-link:hover {
    font-weight: 300;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.selected.nav-link:hover::after {
    transform: scaleX(0.93);
}

/* MAIN CONTENT */

.sections {
    grid-area: sections;
}

/* ABOUT */

.about-section {
    padding-top: clamp(100px, calc(60vh - 40vw), 164px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bio-name {
    color: var(--background);
    text-shadow: 
        -1px -1px 0 var(--text-colour), 
        1px -1px 0 var(--text-colour), 
        -1px 1px 0 var(--text-colour), 
        1px 1px 0 var(--text-colour);
    font-size: clamp(172px, 30vw, 248px);
    width: auto;
    max-width: max-content;
    display: inline-block;
    white-space: nowrap;
    padding-left: 24px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bio-name:hover {
    color: var(--text-colour);
    text-shadow: none;
}

.bio-name::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 14px;
    right: clamp(52px, 9.2vw, 84px);
    background-color: var(--text-colour);
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.25s ease;
}

.bio-description {
    margin-top: 42px;
    margin-left: 42px;
    width: min(700px, 100%);
    font-size: clamp(16px, 4vw, 28px);
}

.social-bar {
    margin-top: auto;
}

.social-list {
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    margin: 24px 0px 24px 48px;
    gap: 48px;
}

.social-link {
    text-transform: uppercase;
}

.social-link:hover {
    font-weight: 300;
}

.heading {
    font-size: clamp(90px, calc(12vw), 148px);
}

.skills-section {
    margin-top: clamp(35px, calc(25vh), 70px);
    padding-top: clamp(35px, calc(25vh), 70px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.skills-heading {
    margin-left: clamp(84px, calc(16vw), 168px);
    padding-left: 14px;
    box-shadow: -198px -1rem 0px -32px var(--text-colour);
}

.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.skill-sublist {
    display: flex;
    gap: clamp(24px, calc(8vw - 18px), 144px);
}

.skill-sublist:nth-child(odd) {
    margin-left: clamp(24px, calc(8vw - 18px), 144px);
}

.skill-sublist:nth-child(even) {
    margin-left: clamp(48px, calc(16vw - 36px), 288px);
}

.skill-item {
    font-size: clamp(18px, calc(5vw - 16px), 28px);
    font-weight: 300;
    white-space: nowrap;
    height: clamp(58px, calc(16.1vw - 51.5px), 90.2px);
    line-height: clamp(58px, calc(16.1vw - 51.5px), 90.2px);
}

.skill-item:hover {
    font-size: clamp(55px, calc(15.3vw - 48.8px), 85.5px);
    font-family: var(--title-font);
    font-weight: 340;
    text-align: center;
    vertical-align: middle;
}

/* PROJECTS */

.projects-section {
    padding-top: clamp(24px, calc(12vh), 48px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.projects-heading {
    padding-left: 32px;
    margin-bottom: 42px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-left: clamp(0px, calc(38vw - 460px), 64px);
}

.project {
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 48px;
}

.project-text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-top: -48px;
    flex-basis: 248px;
    flex-grow: 1;
    max-width: 480px;
}

.project-name {
    display: block;
    width: fit-content;
    padding-top: 8px;
    font-family: var(--title-font);
    letter-spacing: 4px;
    font-size: clamp(48px, calc(24vw - 148px), 64px);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: letter-spacing 0.1s ease;
    -ms-transition: letter-spacing 0.1s ease;
    transition: letter-spacing 0.1s ease;
}

.project-name:hover {
    letter-spacing: 2px;
}

.project-lang {
    font-size: 18px;
    font-weight: 300;
}

.project-images {
    max-width: 600px;
    width: fit-content;
    height: auto;
    margin-top: -48px;
    display: flex;
    flex: 1 0 auto;
}

.project-description {
    min-width: 120px;
    max-width: 540px;
    font-size: 14px;
    font-weight: 200;
    padding-left: 24px;
    padding-top: 12px;
    height: auto;
}

/* PLANT PROJECT */
.plant-project {
    flex-direction: column;
    align-items: start;
    width: fit-content;
    padding-left: clamp(0px, calc(18vw - 96px), 124px);
}

.plant-images {
    flex-wrap: wrap-reverse;
    padding-right: 24px;
    margin-top: 0px;
}

.plant-image-container {
    display: flex;
    width: fit-content;
    flex-basis: 100px;
    flex-grow: 1;
    max-width: 480px;
}

.plants-image {
    width: 50%;
    min-width: 125px;
    max-width: 240px;
}

.plant-text {
    flex-grow: 0;
    flex-basis: 100px;
}

/* TRIANGLE PROJECT */
.triangle-images {
    flex-basis: 196px;
    max-width: 248px;
}

.triangle-image {
    width: 100%;
}

/* FOOD PROJECT */
.food-project {
    flex-wrap: wrap-reverse;
    max-width: 840px;
    padding-left: clamp(0px, calc(12vw - 64px), 84px);
}

.food-images {
    flex-basis: 248px;
    max-width: 480px;
}

.food-image {
    width: 100%;
}

/* TICTACTOE PROJECT */
.tictactoe-images {
    flex-basis: 120px;
    max-width: 164px;
}

.tictactoe-image {
    width: 100%;
}

/* CONTACT */

.contact-section {
    padding-top: clamp(64px, calc(33vh), 112px);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-heading {
    padding-left: 32px;
}

.contact-heading::after {
    content: "";
    position: relative;
    display: block;
    width: clamp(300px, calc(48vw), 660px);
    height: 6px;
    bottom: clamp(18px, calc(2.3vw), 30px);
    right: clamp(52px, 9.2vw, 84px);
    background-color: var(--text-colour);
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.25s ease;
}

.contact-text {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contact-about {
    font-size: clamp(24px, 4vw, 32px);
    width: clamp(84px, 75vw - 84px, 644px);
    margin: 48px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-transform: uppercase;
    margin-left: 48px;
    margin-bottom: 96px;
}

.contact-link {
    font-size: clamp(12px, 3vw, 18px);
    font-family: var(--regular-font);
    font-weight: 200;
    width: fit-content;
}

.contact-link:hover {
    font-weight: 400;
}