:root {
    --background: #111111;
    --text-colour: #ffffff;

    --regular-font: 'Montserrat', Arial, Helvetica, sans-serif;
    --title-font: 'Dorsa', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text-colour);
    display: grid;
    grid-template: 1000px / 1fr 184px;
    grid-template-areas: "sections navbar";
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

a {
	font: inherit;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--regular-font);
}

p {
    font-family: var(--regular-font);
}

h1 {
    font-family: var(--title-font);
    letter-spacing: 4px;
}

.navbar {
    grid-area: navbar;
    text-align: right;
}

.nav-container {
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    padding-right: 28px;
}

.nav-item {
    font-weight: 100;
    font-size: 16px;
    font-size: clamp(16px, calc(2.5vw), 24px);
    text-transform: capitalize;
    padding: 1px;
}

.nav-item.selected {
    font-family: var(--title-font);
    font-size: 48px;
    font-size: clamp(48px, calc(7.5vw), 72px);
    margin-top: -6px;
    margin-bottom: -6px;
}

.nav-link {
    cursor: pointer;
    max-width: max-content;
    display: inline-block;
}

.nav-link::after {
    content: "";
    position: relative;
    display: block;
    width: 200%;
    height: 1px;
    bottom: 4px;
    right: 6px;
    background-color: var(--text-colour);
    opacity: 50%;
    transform: scaleX(0);
    transform-origin: bottom right;
    -webkit-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
}

.selected.nav-link::after {
    height: 1px;
    bottom: 10px;
    right: 12px;
    opacity: 100%;
    transform: scaleX(1);
}

.nav-link:hover {
    font-weight: 300;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.sections {
    grid-area: sections;
}

.about-section {
    padding-top: clamp(124px, calc(75vh - 48vw), 200px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bio-name {
    color: var(--background);
    text-shadow: 
        -1px -1px 0 var(--text-colour), 
        1px -1px 0 var(--text-colour), 
        -1px 1px 0 var(--text-colour), 
        1px 1px 0 var(--text-colour);
    font-size: clamp(172px, 30vw, 248px);
    width: auto;
    max-width: max-content;
    display: inline-block;
    white-space: nowrap;
    padding-left: 24px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bio-name:hover {
    color: var(--text-colour);
    text-shadow: none;
}

.bio-name::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 14px;
    right: clamp(52px, 9.2vw, 84px);
    background-color: var(--text-colour);
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.25s ease;
}

.bio-description {
    margin-top: 42px;
    margin-left: 42px;
    width: min(700px, 100%);
    font-size: clamp(16px, 4vw, 32px);
    -webkit-transition: font-size 10ms ease;
    -ms-transition: font-size 10ms ease;
    transition: font-size 10ms ease;
}

.social-bar {
    margin-top: auto;
}

.social-list {
    font-weight: 100;
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    margin: 24px 0px 24px 48px;
    gap: 48px;
}

.social-link {
    cursor: pointer;
    text-transform: capitalize;
}

.social-link:hover {
    font-weight: 300;
}